[user]
	name = DongHyeok Kim
	email = ucceoum@gmail.com

[core]
	fileMode = false
	autocrlf = false
	pager = delta

[alias]
	st = status
	co = checkout
	br = branch
	lg = log --oneline --graph --decorate --all

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	line-numbers = true
	side-by-side = true

[diff]
	colorMoved = default

[pull]
	rebase = false

[init]
	defaultBranch = main

[include]
	path = ~/.gitconfig.local
